:root {
  --main_color: #175AFE;
  --sub_color1: #66A6FF;
  --sub_color2: #fff;
}

* a {
  text-decoration: none;
  color: var(--sub_color2);
}

body {
  font-family: "Pretendard-Regular";
}

.inner {
  margin: 0 auto;
  width: 100%;
  max-width: 1724px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.search_bar {
  position: relative;
  float: left;
  border: 2px solid var(--sub_color2);
  border-radius: 20px;
  margin-top: 4px;
}
.search_bar .search input[type=text] {
  width: 380px;
  background: transparent;
  border: 0;
  height: auto;
  line-height: normal;
  padding: 10px 0px 10px 22px;
  outline-style: none;
  color: var(--sub_color2);
}
.search_bar .search input[type=text]::-moz-placeholder {
  color: var(--sub_color2);
  font-size: 13px;
  opacity: 0.8;
  cursor: pointer;
}
.search_bar .search input[type=text]::placeholder {
  color: var(--sub_color2);
  font-size: 13px;
  opacity: 0.8;
  cursor: pointer;
}
.search_bar .search button[type=submit] {
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 5px;
  right: 10px;
}

header {
  width: 100%;
  height: 150px;
  position: fixed;
  z-index: 999;
  clear: both;
}
header #header_top {
  padding-top: 24px;
}
header #logo {
  float: left;
  margin-right: 50px;
  margin-bottom: 46px;
  margin-top: 5px;
}
header #top_menu {
  position: relative;
  display: flex;
  float: right;
  margin-top: 24px;
}
header #top_menu li {
  float: left;
  margin-right: 20px;
}
header #top_menu li a {
  color: var(--sub_color2);
}
header #top_menu li:last-child {
  margin-right: 0;
}
header #top_menu li:last-child::after {
  content: url("../images/header/eng_btn_w.png");
  padding-left: 4px;
}
header #top_menu li:hover a {
  color: var(--main_color);
}
header #top_menu li:last-child:hover::after {
  content: url("../images/header/eng_btn.png");
}
header #gnb {
  position: relative;
  float: left;
  margin-top: -18px;
}
header #gnb li {
  float: left;
  padding-right: 183px;
}
header #gnb li a {
  font-size: 20px;
  color: #030303;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: bold;
}
header #gnb li .menu_color {
  color: var(--sub_color2);
}
header #gnb li:last-child {
  padding-right: 0;
}
header #gnb .sub {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 100%;
  padding-top: 20px;
  margin-top: 20px;
  transition: all 0.4s;
  border-top: 1px solid #cecece;
}
header #gnb .sub li {
  float: none;
  padding-bottom: 16px;
}
header #gnb .sub a {
  font-size: 16px;
  white-space: nowrap;
  color: #030303;
  font-weight: normal;
}
header #gnb .sub a::after {
  display: none;
}
header #gnb .sub a:hover {
  color: var(--main_color);
}
header #gnb:hover .sub {
  visibility: visible;
  opacity: 1;
}
header #header_box {
  background-color: transparent;
  width: 100%;
  height: auto;
}
header #header_box.show {
  background-color: #fff;
  transition: all 0.2s;
}
header #header_box.show #top_menu li a {
  color: var(--main_color);
}
header #header_box.show #gnb li .menu_color {
  color: var(--main_color);
}
header #header_box.show .search_bar {
  border-color: var(--main_color);
}
header #header_box.show .search input[type=text] {
  border-color: var(--main_color);
  color: var(--main_color);
}
header #header_box.show .search button[type=submit] {
  content: url("../images/header/search.png");
}
header #header_box.show .search input[type=text]::-moz-placeholder {
  color: var(--main_color);
}
header #header_box.show .search input[type=text]::placeholder {
  color: var(--main_color);
}
header #header_box.show #logo img {
  content: url("../images/header/logo.png");
}
header #header_box.show #top_menu li:last-child::after {
  content: url("../images/header/eng_btn.png");
}
header #header_box.height_change {
  height: 440px;
}
header.view1 #logo, header.view2 #logo, header.view3 #logo, header.view4 #logo, header.view5 #logo, header.view6 #logo {
  content: url("../images/header/logo.png");
}
header.view1 #logo, header.view2 #logo, header.view3 #logo, header.view4 #logo, header.view5 #logo, header.view6 #logo {
  margin-right: 88px;
}
header.view1 .search_bar, header.view2 .search_bar, header.view3 .search_bar, header.view4 .search_bar, header.view5 .search_bar, header.view6 .search_bar {
  display: none;
}
header.view1 #top_menu, header.view2 #top_menu, header.view3 #top_menu, header.view4 #top_menu, header.view5 #top_menu, header.view6 #top_menu {
  display: none;
}
header.view1 #header_box, header.view2 #header_box, header.view3 #header_box, header.view4 #header_box, header.view5 #header_box, header.view6 #header_box {
  height: 100px;
  box-shadow: 2px 3px 4px rgba(206, 206, 206, 0.5);
  background: #fff;
}
header.view1 #header_box #top_menu li a, header.view2 #header_box #top_menu li a, header.view3 #header_box #top_menu li a, header.view4 #header_box #top_menu li a, header.view5 #header_box #top_menu li a, header.view6 #header_box #top_menu li a {
  color: var(--main_color);
}
header.view1 #header_box #gnb li, header.view2 #header_box #gnb li, header.view3 #header_box #gnb li, header.view4 #header_box #gnb li, header.view5 #header_box #gnb li, header.view6 #header_box #gnb li {
  padding-right: 139px;
}
header.view1 #header_box #gnb li .menu_color, header.view2 #header_box #gnb li .menu_color, header.view3 #header_box #gnb li .menu_color, header.view4 #header_box #gnb li .menu_color, header.view5 #header_box #gnb li .menu_color, header.view6 #header_box #gnb li .menu_color {
  color: #000;
}
header.view1 #header_box #gnb li:last-child, header.view2 #header_box #gnb li:last-child, header.view3 #header_box #gnb li:last-child, header.view4 #header_box #gnb li:last-child, header.view5 #header_box #gnb li:last-child, header.view6 #header_box #gnb li:last-child {
  padding-right: 0;
}
header.view1 #header_box #gnb li:first-child, header.view2 #header_box #gnb li:first-child, header.view3 #header_box #gnb li:first-child, header.view4 #header_box #gnb li:first-child, header.view5 #header_box #gnb li:first-child, header.view6 #header_box #gnb li:first-child {
  padding-left: 45px;
}
header.view1 #header_box #gnb, header.view2 #header_box #gnb, header.view3 #header_box #gnb, header.view4 #header_box #gnb, header.view5 #header_box #gnb, header.view6 #header_box #gnb {
  margin-top: 16px;
}
header.view1 #header_box .sub, header.view2 #header_box .sub, header.view3 #header_box .sub, header.view4 #header_box .sub, header.view5 #header_box .sub, header.view6 #header_box .sub {
  border: 0;
  display: none;
}
header.view1 #header_box .search input[type=text], header.view2 #header_box .search input[type=text], header.view3 #header_box .search input[type=text], header.view4 #header_box .search input[type=text], header.view5 #header_box .search input[type=text], header.view6 #header_box .search input[type=text] {
  border-color: var(--main_color);
}
header.view1 #header_box .search button[type=submit], header.view2 #header_box .search button[type=submit], header.view3 #header_box .search button[type=submit], header.view4 #header_box .search button[type=submit], header.view5 #header_box .search button[type=submit], header.view6 #header_box .search button[type=submit] {
  color: var(--main_color);
}
header.view1 #header_box .search input[type=text]::-moz-placeholder, header.view2 #header_box .search input[type=text]::-moz-placeholder, header.view3 #header_box .search input[type=text]::-moz-placeholder, header.view4 #header_box .search input[type=text]::-moz-placeholder, header.view5 #header_box .search input[type=text]::-moz-placeholder, header.view6 #header_box .search input[type=text]::-moz-placeholder {
  color: var(--main_color);
}
header.view1 #header_box .search input[type=text]::placeholder, header.view2 #header_box .search input[type=text]::placeholder, header.view3 #header_box .search input[type=text]::placeholder, header.view4 #header_box .search input[type=text]::placeholder, header.view5 #header_box .search input[type=text]::placeholder, header.view6 #header_box .search input[type=text]::placeholder {
  color: var(--main_color);
}
header.view1 #top_menu li:last-child::after, header.view2 #top_menu li:last-child::after, header.view3 #top_menu li:last-child::after, header.view4 #top_menu li:last-child::after, header.view5 #top_menu li:last-child::after, header.view6 #top_menu li:last-child::after {
  content: url("../images/header/eng_btn.png");
}

#wrap {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.sec {
  width: 100%;
  height: 100vh;
}

main {
  width: 100%;
  height: 100vh;
}
main #main_view {
  width: 100%;
  height: 100%;
  clear: both;
}
main #main_view .bg-video {
  width: 100%;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  z-index: -1;
}
main #main_view .bg-video_content {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main #main_view h3 {
  font-size: 66px;
  color: #fff;
  font-weight: bold;
  left: calc(50% - 204px);
  position: absolute;
  top: 45%;
  text-align: center;
  font-family: "iceJaram-Rg";
}
main #main_view h3::before {
  content: "";
  background: url("../images/main_view/left.png") no-repeat;
  position: absolute;
  width: 9%;
  height: 60%;
  left: -12%;
  top: -12%;
}
main #main_view h3::after {
  content: "";
  background: url("../images/main_view/right.png") no-repeat;
  position: absolute;
  width: 10%;
  height: 60%;
  left: 107%;
  top: -12%;
}
main #main_view span {
  font-size: 23px;
  color: #fff;
  position: absolute;
  left: calc(50% - 282px);
  top: 52%;
  text-align: center;
  line-height: 30px;
  font-weight: 100;
}
main #main_view #scroll {
  z-index: 2;
  position: absolute;
  bottom: 8%;
  left: 50%;
  border: 3px solid #fff;
  padding: 31px 11px 16px;
  border-radius: 41px;
}
main #main_view #scroll p {
  animation: scroll_ani 0.8s linear infinite;
}
@keyframes scroll_ani {
  0% {
    transform: translateY(11px);
  }
  80% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(10px);
  }
}
main #section01 {
  width: 100%;
  height: 100%;
}
main #section01 #map_info_position {
  padding-top: 10%;
  padding-bottom: 95px;
}
main #section01 #map_info_position #map_info {
  float: left;
  position: relative;
}
main #section01 #map_info_position #map_info p {
  color: var(--main_color);
}
main #section01 #map_info_position #map_info p:first-child {
  font-size: 25px;
  font-weight: bold;
}
main #section01 #map_info_position #map_info p:first-child::before {
  content: "";
  background: url("../images/section01/airplane.png") no-repeat;
  background-size: 25px 25px;
  width: 25px;
  height: 25px;
  display: inline-block;
}
main #section01 #map_info_position #map_info p:last-child {
  font-size: 20px;
  padding-top: 12px;
}
main #section01 #map_info_position .search_bar {
  float: right;
}
main #section01 #map_info_position .search_bar .search input[type=text] {
  border: 2px solid var(--main_color);
  color: var(--main_color);
  border-radius: 20px;
  font-size: 15px;
}
main #section01 #map_info_position .search_bar .search button[type=submit] {
  color: var(--main_color);
  position: absolute;
  top: 5px;
  right: 10px;
}
main #section01 #map_info_position .search_bar .search input[type=text]::-moz-placeholder {
  color: #BFBFBF;
}
main #section01 #map_info_position .search_bar .search input[type=text]::placeholder {
  color: #BFBFBF;
}
main #section01 #worldmap_load {
  position: relative;
  width: 1561px;
  height: 771px;
  margin: 0 auto;
  transform: scale(80%);
}
main #section01 #worldmap_load img[src$=svg] {
  pointer-events: none;
}
main #section01 #worldmap_load span {
  position: absolute;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #004A9B;
}
main #section01 #worldmap_load .dot1 {
  top: 377.5px;
  left: 262.2px;
}
main #section01 #worldmap_load .dot2 {
  top: 409.5px;
  left: 278.5px;
}
main #section01 #worldmap_load .dot3 {
  top: 459.5px;
  left: 410px;
}
main #section01 #worldmap_load .dot4 {
  top: 492px;
  left: 410px;
}
main #section01 #worldmap_load .dot5 {
  top: 509px;
  left: 376.5px;
}
main #section01 #worldmap_load .dot6 {
  top: 557.6px;
  left: 410px;
}
main #section01 #worldmap_load .dot7 {
  top: 573.5px;
  left: 459px;
}
main #section01 #worldmap_load .dot8 {
  top: 607px;
  left: 475px;
}
main #section01 #worldmap_load .dot1:hover, main #section01 #worldmap_load .dot2:hover, main #section01 #worldmap_load .dot3:hover, main #section01 #worldmap_load .dot4:hover, main #section01 #worldmap_load .dot5:hover, main #section01 #worldmap_load .dot6:hover, main #section01 #worldmap_load .dot7:hover, main #section01 #worldmap_load .dot8:hover {
  background-color: red;
}
main #section01 #worldmap_load #info_box {
  width: 201px;
  height: 157px;
  position: absolute;
  color: #030303;
  background: url("../images/nara_btn.png");
  display: none;
  transform: translate(-50%, -100%);
  z-index: 1;
  font-size: 20px;
}
main #section01 #worldmap_load .country_name {
  font-size: 16px;
  margin-top: 5px;
  margin-left: 10px;
  font-weight: bold;
}
main #section01 #worldmap_load .office_name {
  font-size: 12px;
  margin-left: 10px;
  font-weight: bold;
  margin-top: 2px;
}
main #section01 #worldmap_load .address {
  font-size: 10px;
  margin-left: 10px;
}
main #section01 #worldmap_load .phone_number {
  font-size: 10px;
  margin-left: 10px;
  margin-top: 5px;
}
main #section01 #worldmap_load .email {
  font-size: 10px;
  margin-left: 10px;
  margin-top: 5px;
}
main #section01 #map {
  position: absolute;
  width: 100%;
  height: 100%;
}
main #section02 {
  width: 100%;
  height: 100%;
}
main #section02 #koica_info {
  padding-top: 11%;
}
main #section02 #koica_info p {
  font-size: 30px;
  color: #4E4E4E;
  font-weight: bold;
}
main #section02 #koica_info p:last-child {
  line-height: 35px;
  font-weight: 200;
}
main #section02 #koica_info span {
  color: var(--main_color);
}
main #section02 #koica_info #koica_head_bottom {
  margin-bottom: 26px;
}
main #section02 #koica_info #koica_swiper {
  width: 1724px;
  height: 410px;
  overflow: hidden;
}
main #section02 #koica_info .koica_info_img {
  position: relative;
  transform: translate3d(0, 0, 0) !important;
  transition: all 0.4s;
}
main #section02 #koica_info .koica_info_img img {
  width: 1724px;
  height: 410px;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
main #section02 #koica_info .wrapper {
  display: flex;
}
main #section02 #koica_info #koica_swiper {
  display: flex;
}
main #section02 #koica_info .koica_wrap {
  display: flex;
  flex-direction: column;
}
main #section02 #koica_info .koica_info_img_gradient {
  width: 1724px;
  height: 410px;
  border-radius: 20px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.2) 50%, transparent);
  position: absolute;
}
main #section02 #koica_info .koica_info_text {
  position: absolute;
  left: 2%;
  top: 60%;
  z-index: 1;
}
main #section02 #koica_info .koica_info_text p {
  font-size: 30px;
  color: var(--sub_color2);
}
main #section02 #koica_info .koica_info_text p:last-child {
  font-size: 23px;
  font-weight: normal;
  padding-top: 30px;
  padding-bottom: 39px;
}
main #section02 #koica_info2 {
  padding-top: 70px;
  width: 97%;
}
main #section02 #koica_info2 .character {
  z-index: -1;
  transition: all 0.4s;
}
main #section02 #koica_info2 .ch01.move, main #section02 #koica_info2 .ch02.move, main #section02 #koica_info2 .ch03.move {
  transform: translateY(-34px);
}
main #section02 #koica_info2 img {
  padding-left: 25px;
}
main #section02 #koica_info2 .koica_info_etc {
  position: relative;
  display: flex;
}
main #section02 #koica_info2 .koica_info_etc .koica_move {
  position: absolute;
  top: 1px;
  flex-shrink: 0;
  width: 100%;
}
main #section02 #koica_info2 .koica_info_etc .koica_move .koica_move_position {
  width: 500px;
  height: 163px;
  background: var(--sub_color1);
  border-radius: 20px;
  position: relative;
  align-items: center;
  text-align: center;
  margin-top: 60px;
}
main #section02 #koica_info2 .koica_info_etc .koica_move .koica_move_position p {
  color: var(--sub_color2);
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 15px;
  padding-top: 42px;
}
main #section02 #koica_info2 .koica_info_etc .koica_move .koica_move_position button {
  border: 0;
  border-radius: 28px;
  background: var(--main_color);
  padding: 4px 14px 7px 14px;
}
main #section02 #koica_info2 .koica_info_etc .koica_move .koica_move_position button span {
  color: var(--sub_color2);
  font-size: 18px;
}
main #section02 #koica_info2 .koica_info_etc .koica_move .koica_move_position button span::after {
  content: url("../images/section02/button.png");
  color: var(--sub_color2);
  padding-left: 10px;
}
main #section02 #koica_info2 .koica_info_etc .koica_move .koica_move_position button:hover {
  cursor: pointer;
  background: var(--sub_color2);
}
main #section02 #koica_info2 .koica_info_etc .koica_move .koica_move_position button:hover span {
  color: var(--main_color);
}
main #section02 #koica_info2 .koica_info_etc .koica_move .koica_move_position button:hover span::after {
  content: url("../images/section02/button2.png");
  color: var(--sub_color2);
  padding-left: 10px;
}
main #section02 #koica_info2 .koica_info_etc .koica_move .koica_move_position span {
  font-weight: bold;
}
main #section02 #koica_info2 #overseas_volunteer_info, main #section02 #koica_info2 #oda_info {
  margin-left: 29%;
}
main #section03 {
  width: 100%;
}
main #section03 a {
  color: #1D1D1D;
}
main #board_flex {
  display: flex;
  padding-top: 11%;
}
main .board {
  display: inline-block;
  width: 56%;
  padding-top: 60px;
}
main .board .board_menu {
  border-bottom: 2px solid #D0D0D0;
  display: inline-block;
}
main .board .board_menu h2 {
  font-size: 25px;
  color: var(--main_color);
  float: left;
  font-weight: bold;
  letter-spacing: 1px;
}
main .board .board_menu a {
  font-size: 18px;
  color: #747474 !important;
}
main .board .board_menu button {
  background: none;
  border: 0;
}
main .board .board_menu .koica_board_top_menu {
  display: flex;
  float: left;
  padding-left: 130px;
}
main .board .board_menu .koica_board_top_menu ul {
  display: flex;
}
main .board .board_menu .koica_board_top_menu li {
  flex-shrink: 0;
  padding-left: 46px;
  padding-top: 5px;
}
main .board .board_menu .koica_board_top_menu li:last-child {
  padding-right: 46px;
}
main .board .board_menu .koica_board_top_menu button {
  padding-top: 2px;
}
main .board .board_menu .koica_board_btn {
  padding-left: 43px;
}
main .board .board_menu .koica_board_btn input[type=radio] {
  display: none;
}
main .board .board_menu .koica_board_btn label {
  display: block;
  margin: 0 auto;
  text-align: left;
  font-size: 17px;
  line-height: 34px;
  color: #030303;
}
main .board .board_menu .koica_board_btn label:last-child {
  padding-right: 10px;
}
main .board .board_menu .koica_board_btn input[type=radio]:checked + label {
  color: var(--main_color);
  border-bottom: 2px solid var(--main_color);
  font-weight: bold;
}
main .board .board_content {
  display: inline-block;
  overflow: hidden;
}
main .board .board_content table {
  border-collapse: separate;
  border-spacing: 20px 39px;
}
main .board .board_content td:first-child {
  font-size: 15px;
  color: var(--sub_color2);
  border-radius: 100px;
  background: var(--main_color);
  padding: 5px 22px;
  margin-right: 30px;
}
main .board .board_content th {
  padding-left: 20px;
  text-align: left;
  font-weight: bold;
}
main .board .board_content td:last-child {
  padding-left: 227px;
  color: #9b9b9b;
}
main .board #directors {
  position: relative;
}
main .board #directors #directors_img {
  width: 100%;
  position: relative;
}
main .board #directors #directors_text {
  position: absolute;
  top: 44%;
  right: 10%;
}
main .board #directors #directors_text p {
  color: var(--sub_color2);
}
main .board #directors #directors_text p:nth-of-type(1) {
  font-size: 25px;
  font-weight: bold;
}
main .board #directors #directors_text p:nth-of-type(2) {
  font-size: 20px;
  font-weight: bold;
  padding-top: 20px;
  text-align: right;
}
main .board #directors #directors_text p:nth-of-type(2) span {
  font-size: 15px;
  padding-left: 4px;
}
main .board2 {
  display: inline-block;
  width: 42%;
  margin-left: 48px;
  padding-top: 60px;
}
main .board2 #gallery {
  display: inline-block;
  border-bottom: 2px solid #D0D0D0;
  padding-bottom: 10px;
}
main .board2 #gallery h2 {
  font-size: 25px;
  color: var(--main_color);
  float: left;
  font-weight: bold;
  letter-spacing: 1;
}
main .board2 #gallery button {
  background: none;
  border: 0;
  padding-top: 2px;
  padding-left: 574px;
}
main .board2 #gallery_content {
  margin-top: 50px;
  display: inline-block;
}
main .board2 #gallery_content ul {
  float: left;
}
main .board2 #gallery_content li {
  float: left;
  margin-right: 49px;
}
main .board2 #gallery_content li:nth-of-type(2), main .board2 #gallery_content li:nth-of-type(4) {
  margin-right: 0;
}
main .board2 #gallery_content li:nth-of-type(3), main .board2 #gallery_content li:nth-of-type(4) {
  margin-top: 50px;
}
main .board2 #gallery_content li.gallery_content_li {
  border: 1px solid #CBCBCB;
}
main .board2 #gallery_content li.gallery_content_li p:nth-of-type(1) {
  color: var(--main_color);
  margin-top: 10px;
  padding-left: 10px;
  font-size: 15px;
}
main .board2 #gallery_content li.gallery_content_li p:nth-of-type(2) {
  color: #555555;
  font-size: 13px;
  padding-left: 10px;
  padding-top: 10px;
}
main .board2 #gallery_content li.gallery_content_li p:nth-of-type(3) {
  color: #9D9D9D;
  font-size: 11px;
  padding-left: 266px;
  padding-top: 25px;
  padding-bottom: 8px;
}
main #section04 {
  position: relative;
  width: 100%;
  height: 100%;
  background: #F7F7F7;
}
main #section04 #overseas_volunteer {
  width: 100%;
  overflow: hidden;
  padding-top: 8%;
}
main #section04 #overseas_volunteer h2 {
  text-align: center;
  font-size: 30px;
  color: var(--main_color);
  font-weight: bold;
  margin-bottom: 40px;
}
main #section04 #overseas_volunteer #overseas_btns {
  text-align: center;
  padding-bottom: 80px;
}
main #section04 #overseas_volunteer .xi-arrow-right:before {
  padding-left: 47px;
}
main #section04 #overseas_volunteer .overseas_btn {
  height: 36px;
  display: inline-block;
  margin-right: 50px;
}
main #section04 #overseas_volunteer .overseas_btn input[type=radio] {
  display: none;
}
main #section04 #overseas_volunteer .overseas_btn label {
  display: block;
  border-radius: 10px;
  margin: 0 auto;
  text-align: left;
  height: -webkit-fill-available;
  height: -moz-available;
  height: fill-available;
  font-size: 17px;
  line-height: 34px;
  border: 1px solid var(--main_color);
  border-radius: 10px;
  width: 100%;
  padding-left: 16px;
  color: var(--main_color);
}
main #section04 #overseas_volunteer .overseas_btn input[type=radio]:checked + label {
  background: var(--main_color);
  color: var(--sub_color2);
}
main #section04 #overseas_volunteer .overseas_btn label:hover {
  border-color: var(--sub_color1);
  background: var(--sub_color1);
  color: var(--sub_color2);
}
main #overseas_volunteer {
  width: 100%;
}
main #overseas_volunteer .container {
  display: flex;
  width: 100%;
}
main #overseas_volunteer .overseas_info {
  display: flex;
  width: auto;
}
main #overseas_volunteer .overseas_info img {
  display: block;
  width: 812px;
  height: 308px;
  border-radius: 30px;
  z-index: -1;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}
main #overseas_volunteer .swiper-slide-active p {
  visibility: visible;
  margin-top: 26px;
}
main #overseas_volunteer .swiper-slide-active p:nth-of-type(1) {
  font-size: 25px;
  color: var(--main_color);
  float: left;
  font-weight: bold;
}
main #overseas_volunteer .swiper-slide-active p:nth-of-type(2) {
  font-size: 14px;
  color: var(--main_color);
  float: right;
}
main #overseas_volunteer .swiper-slide-active p:nth-of-type(2)::before {
  content: url(../images/section04/flag_Cambodia.png);
  vertical-align: middle;
  padding-right: 5px;
}
main #overseas_volunteer .swiper-slide-active p:nth-of-type(3) {
  clear: both;
  font-size: 15px;
  color: #696969;
  float: left;
  margin-bottom: 30px;
  width: 812px;
  line-height: 25px;
}
main #overseas_volunteer .swiper-slide-active button {
  clear: both;
  display: block;
  visibility: visible;
  opacity: 1;
  border: 0;
  border-radius: 4px;
  background: var(--main_color);
  padding: 4px 30px 7px 30px;
}
main #overseas_volunteer .swiper-slide-active button p {
  color: var(--sub_color2) !important;
  font-size: 13px !important;
  margin-top: 0;
}
main #overseas_volunteer .swiper-slide-active button p::after {
  content: url("../images/section02/button.png");
  padding-left: 10px;
}
main #overseas_volunteer .swiper-slide-prev, main #overseas_volunteer .swiper-slide-next {
  margin-top: 80px;
}
main #overseas_volunteer .swiper-slide-prev .img_filter, main #overseas_volunteer .swiper-slide-next .img_filter {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 2;
  border-radius: 30px;
  width: 812px;
  height: 308px;
}
main #overseas_volunteer .swiper-slide-prev p, main #overseas_volunteer .swiper-slide-next p {
  visibility: hidden;
  opacity: 0;
}
main #overseas_volunteer .swiper-slide-prev button, main #overseas_volunteer .swiper-slide-next button {
  visibility: hidden;
  opacity: 0;
}
main .section_pager {
  position: absolute;
  text-align: center;
  top: 82%;
  left: 50%;
  display: flex;
  transform: translateX(-50%);
}
main .section_pager span {
  display: block;
  width: 10px;
  height: 10px;
  background: #000;
  opacity: 0.3;
  border-radius: 50%;
  margin: 18px 10px;
}
main .section_pager .swiper-pagination-bullet-active {
  background: var(--main_color);
  opacity: 1;
}
main .swiper-button-prev {
  position: absolute;
  top: 46%;
  left: 27%;
  background: url(../images/section04/prev.png) no-repeat;
  width: 21px;
  height: 43px;
}
main .swiper-button-next {
  position: absolute;
  top: 46%;
  left: 71%;
  background: url(../images/section04/next.png) no-repeat;
  width: 26px;
  height: 43px;
}

#section05 #board_content2 {
  padding-top: 16%;
  display: flex;
}
#section05 #board3 {
  display: inline-block;
  width: 50%;
}
#section05 .board_job_menu {
  display: inline-block;
  padding-bottom: 9px;
  border-bottom: 2px solid #D0D0D0;
}
#section05 .board_job_menu h2 {
  font-size: 25px;
  color: var(--main_color);
  float: left;
  font-weight: bold;
  letter-spacing: 1;
}
#section05 .board_job_menu button {
  background: none;
  border: 0;
  padding-left: 720px;
  padding-top: 10px;
}
#section05 .board_jog_first_content {
  padding-top: 46px;
  display: flex;
  padding-bottom: 46px;
  border-bottom: 1px solid #D0D0D0;
}
#section05 .board_jog_first_content .first_contents {
  display: block;
  margin-left: 20px;
}
#section05 .board_jog_first_content .first_contents p:nth-of-type(1) {
  font-size: 18px;
  color: var(--sub_color2);
  border-radius: 20px;
  background: var(--main_color);
  padding: 6px 25px;
  margin-right: 30px;
  display: inline-block;
  font-weight: bold;
}
#section05 .board_jog_first_content .first_contents p:nth-of-type(2) {
  color: #1D1D1D;
  font-size: 17px;
  padding-top: 30px;
}
#section05 .board_jog_first_content .first_contents p:nth-of-type(3) {
  color: #6F6F6F;
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 20px;
  line-height: 18px;
}
#section05 .board_job_content .board_job_table {
  border-collapse: separate;
  border-spacing: 20px 39px;
}
#section05 .board_job_content td:first-child {
  font-size: 15px;
  color: var(--sub_color2);
  border-radius: 15px;
  background: var(--main_color);
  padding: 5px 22px !important;
  margin-right: 30px;
  font-weight: bold;
}
#section05 .board_job_content th {
  padding-left: 20px;
  text-align: left;
}
#section05 .board_job_content th a {
  color: #1D1D1D;
}
#section05 .board_job_content td:last-child {
  padding-left: 120px;
  color: #9D9D9D;
}
#section05 .board_job_content td.notice_end {
  background: #7E7E7E;
}
#section05 #board_right {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
}
#section05 #board4 {
  margin-left: 60px;
  flex-shrink: 0;
}
#section05 #board4 .sns_menu {
  border-bottom: 2px solid #D0D0D0;
  padding-bottom: 36px;
}
#section05 #board4 .sns_menu h2 {
  font-size: 25px;
  color: var(--main_color);
  float: left;
  font-weight: bold;
  letter-spacing: 1;
}
#section05 #board4 .sns_menu #sns_menu_icon {
  float: right;
  display: flex;
}
#section05 #board4 .sns_menu .sns_btn input[type=radio] {
  display: none;
}
#section05 #board4 .sns_menu .sns_btn label {
  display: block;
  margin: 0 auto;
  text-align: left;
  font-size: 17px;
  line-height: 34px;
  color: #707070;
}
#section05 #board4 .sns_menu .sns_btn label:last-child {
  padding-right: 10px;
}
#section05 #board4 .sns_menu .sns_btn input[type=radio]:checked + label {
  color: var(--main_color);
}
#section05 #board4 .sns_contents .contents_imgs {
  display: flex;
  padding-top: 40px;
}
#section05 #board4 .sns_contents .contents_imgs img {
  width: 239px;
  height: 239px;
}
#section05 #board4 .sns_contents .contents_imgs li {
  margin-right: 29px;
}
#section05 #board4 .sns_contents .contents_imgs li:last-child {
  margin-right: 0;
}
#section05 #board5 {
  display: inline-block;
  margin-left: 60px;
}
#section05 #board5 #popup_zone {
  border-bottom: 2px solid #D0D0D0;
  padding-bottom: 6px;
}
#section05 #board5 #popup_zone h2 {
  font-size: 25px;
  color: var(--main_color);
  float: left;
  margin-top: 40px;
  font-weight: bold;
  letter-spacing: 1;
}
#section05 #board5 #popup_zone button {
  display: inline-block;
  background: none;
  border: 0;
  padding-left: 600px;
  padding-bottom: 10px;
  margin-top: 43px;
}
#section05 #board5 #popup_zone_contents {
  margin-top: 36px;
  width: 775px;
  height: 179px;
  overflow: hidden;
}
#section05 #board5 #popup_zone_contents .container2 {
  display: flex;
}
#section05 #board5 #popup_zone_contents .popup_info {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
#section05 #board5 #popup_zone_contents img {
  width: 775px;
  height: 179px;
  transform: scale(0.995);
}

#section06 {
  width: 100%;
  position: relative;
}
#section06 #WeKO_info {
  padding-top: 12%;
  padding-left: 4%;
  padding-right: 10%;
}
#section06 #WeKO_header {
  border-bottom: 2px solid #D0D0D0;
  padding-bottom: 20px;
}
#section06 #WeKO_header h2 {
  font-size: 25px;
  color: var(--main_color);
  font-weight: bold;
}
#section06 #WeKO_header h2::before {
  content: url("../images/section06/weco_logo.png");
  padding-right: 20px;
}
#section06 #WeKO_swiper {
  display: flex;
  height: 100vh;
  max-height: 611px;
  position: relative;
}
#section06 #WeKO_main_swiper {
  width: 80%;
  margin-top: 47px;
  position: relative;
  width: 1082px;
  height: 611px;
  overflow: hidden;
}
#section06 #WeKO_main_swiper img {
  width: 1082px;
  height: 611px;
  display: block;
}
#section06 #WeKO_main_swiper .container3 {
  width: 1082px;
  height: 611px;
  display: flex;
  flex-wrap: wrap;
}
#section06 #WeKO_main_swiper .WeKO_main_item {
  display: flex;
}
#section06 #WeKO_main_swiper .swiper-slide-active::before, #section06 #WeKO_main_swiper .swiper-slide-next::before, #section06 #WeKO_main_swiper .swiper-slide-prev::before {
  content: url("../images/section06/play_btn.png");
  position: absolute;
  left: calc(50% - 51px);
  width: 98px;
  height: 98px;
  padding-top: 23%;
}
#section06 #WeKO_sub_swiper {
  width: 22%;
  height: 100%;
  overflow: hidden;
  margin-left: 50px;
  margin-top: 47px;
}
#section06 #WeKO_sub_swiper img {
  width: 348px;
  height: 189px;
  display: block;
}
#section06 #WeKO_sub_swiper .container3 {
  display: flex;
  flex-direction: column;
}
#section06 #WeKO_sub_swiper #WeKO_main_item {
  height: 189px;
  padding-top: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
#section06 .swiper-button-prev {
  position: absolute;
  top: 4%;
  left: 86%;
  background: url(../images/section06/play_top_btn.png) no-repeat;
  width: 42px;
  height: 42px;
}
#section06 .swiper-button-next {
  position: absolute;
  top: 105%;
  left: 86%;
  background: url(../images/section06/play_bottom_btn.png) no-repeat;
  width: 42px;
  height: 42px;
}

footer {
  width: 100%;
  position: relative;
}
footer #footer_background {
  height: 420px;
  background: linear-gradient(var(--main_color) 80%, var(--sub_color2) 20%);
  z-index: -1;
}
footer #footer_top_list {
  float: left;
  margin-top: 40px;
}
footer #footer_top_list li {
  float: left;
  padding-right: 45px;
  font-size: 19px;
}
footer #footer_top_list li a {
  color: var(--sub_color2);
}
footer #footer_top_list li:last-child {
  padding-right: 0;
}
footer #footer_sns {
  float: right;
  margin-top: 20px;
}
footer #footer_sns li {
  float: left;
  color: var(--sub_color2);
  padding-right: 14px;
}
footer #footer_sns li:last-child {
  padding-right: 0;
}
footer #footer_logo {
  clear: both;
  float: left;
  margin-top: 34px;
  margin-bottom: 34px;
}
footer #copyright {
  clear: both;
  float: left;
  margin-top: 18px;
  color: var(--sub_color2);
}
footer #copyright li {
  float: left;
  padding-right: 18px;
  padding-bottom: 6px;
}
footer #copyright p {
  margin-bottom: 30px;
}
footer #copyright p:last-child {
  font-size: 12px;
  opacity: 0.8;
  line-height: 20px;
}
footer #footer_bottom {
  width: 100%;
  clear: both;
  padding-top: 26px;
  display: flex;
  justify-content: space-between;
}
footer #banner {
  display: flex;
  width: 60%;
  height: 100%;
  overflow: hidden;
}
footer .wrap {
  display: flex;
  width: 100%;
  height: 100%;
}
footer .item {
  justify-content: space-between;
  flex-shrink: 0;
}
footer #wa_mark li {
  padding-right: 40px;
  float: left;
}
footer #wa_mark li:last-child {
  padding-right: 0;
}

.pager {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
}

.pager span {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #000;
  opacity: 0.3;
  margin: 8px 0;
  cursor: pointer;
}

.pager span.active {
  opacity: 1;
}

#quickmenu {
  width: 50px;
  position: fixed;
  right: 3%;
  top: 82%;
}
#quickmenu #quickmenu_hamburgerbar {
  position: relative;
  background-color: var(--main_color);
  padding: 16px 16px;
  border-radius: 50%;
  color: var(--sub_color2);
  cursor: pointer;
}
#quickmenu #quickmenu_hamburger:hover {
  background-color: #133792;
}
#quickmenu #quickmenu_content {
  position: absolute;
  top: -978%;
}
#quickmenu #quickmenu_content ul {
  display: flex;
  flex-direction: column;
}
#quickmenu #quickmenu_content li {
  padding-bottom: 7px;
}
#quickmenu li {
  font-size: 12px;
  color: #606060;
}

#top_button {
  position: absolute;
  top: 90%;
  right: 3%;
  transition: all 0.4s;
  cursor: pointer;
}
#top_button p {
  position: relative;
  background-color: var(--main_color);
  padding: 16px 16px;
  border-radius: 50%;
}
#top_button p:hover {
  background-color: #133792;
}
#top_button p:hover img {
  animation: topbtn_ani 0.8s ease-in-out infinite;
}
@keyframes topbtn_ani {
  0% {
    transform: translateY(5px);
    opacity: 0;
  }
  100% {
    transform: translateY(-2px);
    opacity: 1;
  }
}